@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


/* gh heatmap styles */
.color-scale-0 {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #fccac2;
}

.color-scale-2 {
  fill: #fbeae7;
}

.color-scale-3 {
  fill: #c6e48b;
}

.color-scale-4 {
  fill: #7bc96f;
}

.color-scale-5 {
  fill: #239a3b;
}

.color-scale-6 {
  fill: #196127;
}